{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home_messages/css/home_messages.css'%}">
    <title>О блоге</title>
</head>
<body>
    <heder>
        <a href="{% url 'register' %}">Регистрация</a>
    </heder>

    <aside>

        <img src="{% static 'home_messages/img/home_messages.png'  %}" alt="">
        <ul>

            <li><a href="{% url 'home_messages' %}">Главная</a></li>

            <li><a href="{% url 'cat' %}">Категории</a></li>

            <li><a href="#">Про нас</a></li>
            <li><a href="#">Контакты</a></li>

        </ul>

    </aside>

    <h1>Добро пожаловать !</h1>

    {% block body %}
    {% endblock body %}
    <nav>

        <ul>
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li id = "pag">{{p}}</li>
            {% else %}
            <li>
                <a id = "pag_1"  href="?page={{ p }}">{{ p }}</a>

            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </nav>

</body>
</html>