body {
    background: #2c2c2c;
}


aside {
    float: left;
    background:#181818; /* задний фон */
    width 20%;
    padding: 2.5%;
    height: 100vh;
    color:#fff;
    border-right: 5px solid #4d4d4d;
    position: fixed

}

aside img {
    width:80px;
    float: left;
    margin-bottom: 20px;
    margin-left:30px;
}

aside ul {list-style: none}
aside ul li {
    margin-top: 10%;
    margin-right:30px;



}
body h1 {
    color:#fff;
    text-align: center;


}

#nav {

    list-style: none;
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;

}

.alert-warning{
    margin-right: 100px;

}
heder {
    float: right;
    margin-top: 30px;
    margin-right:30px;
    color:#fff;

}
#tab {
    float: center;
    color:#fff;
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 50px;

}
nav ul{
    text-align:center;

}
nav ul li {
     display:inline-block;
     display: inline;
     padding: 8px 16px;
     color: white;


}
#pag{
     background-color: #4d4d4d ;
     color: #fff;
}

#pag_1{
    color: #fff;
}

#nav_1 {
    list-style: none;
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;

}